:root {
    --grid-min-item-size: clamp(8rem, 12rem + 12.5vw, 15rem);
    --grid-placement: auto-fit;
    --color-darkmode: #111927;
    --anti-bg-color: #113264;
    --anti-font-color: #F4FAFF;
    --font-color-darkmode: #C2E6FF;
    --color-lightmode: #F4FAFF;
    --font-color-lightmode: #113264;
    --html5color: #DD4B25;
    --css3color: #0975BC;
    --jscolor: #F7E025;
    --nodecolor: #58A149;

    background-color: var(--bg-color, var(--color-lightmode));
    color: var(--font-color, var(--font-color-lightmode));
    color-scheme: var(--color-scheme, light);
    transition-duration: .3s;
    transition-property: background-color, color;

    &:has(.themeToggle:checked) {
        --bg-color: var(--color-darkmode);
        --font-color: var(--font-color-darkmode);
        --anti-bg-color: var(--color-lightmode);
        --anti-font-color: var(--font-color-lightmode);
        --color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
}

.switch {
    position: relative;
    display: block;
    width: 1rem;
    height: 2rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #2196F3;

        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 1rem;
            width: 1rem;
            background-color: #f3cd21;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }

    input:checked+.slider {
        background-color: #AAA;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #AAA;
    }

    input:checked+.slider:before {
        /* -webkit-transform: translateY(calc(60px - var(--size-step-0)));
        -ms-transform: translateY(calc(60px - var(--size-step-0)));
        transform: translateY(calc(60px - var(--size-step-0))); */
        -webkit-transform: translateY(1rem);
        -ms-transform: translateY(1rem);
        transform: translateY(1rem);
        background: #DDD;
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Lunasima", sans-serif;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    padding: .6rem clamp(.5rem, 11.5152vw + -2.0909rem, 10rem);
    align-items: center;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 3.6364vw + .1818rem, 4rem);
    justify-content: center;

    .mainItem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: clamp(.5rem, 4.2424vw + -.4545rem, 4rem);

        .profile {
            position: relative;
            width: clamp(100px, 31.8182px + 18.9394vw, 350px);
            height: clamp(100px, 31.8182px + 18.9394vw, 350px);

            img {
                width: 100%;
                height: 100%;
                animation: wave 5s ease-in-out infinite;
                margin: 0 auto;
            }

            .border {
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                animation: wave2 5s ease-in-out infinite;
                border: 2px solid var(--font-color, var(--font-color-lightmode));
                margin: 0 auto;
            }
        }

        .presentation {
            text-align: center;
            font-weight: bold;
            font-size: clamp(3rem, 2.4242vw + 2.4545rem, 5rem);
            padding: clamp(3rem, 2.4242vw + 2.4545rem, 5rem) 0;

            div:first-child {
                animation: rotateText 4s linear infinite;
            }

            .rotateText {
                height: clamp(3rem, 2.4242vw + 2.4545rem, 5rem);
                overflow: hidden;

                #FS {
                    background: linear-gradient(135deg, var(--html5color) 24%, transparent 24%, transparent 25%, var(--css3color) 25%, var(--css3color) 49%, transparent 49%, transparent 50%, var(--jscolor) 50%, var(--jscolor) 74%, transparent 74%, transparent 75%, var(--nodecolor) 75%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .grid {
        display: grid;
        gap: clamp(.5rem, 3.0303vw + -.1818rem, 3rem);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 3rem);
        grid-template-areas:
            ". a a ."
            "b b c c"
            ". d d ."
        ;
        width: clamp(20rem, 54.5455vw + 7.7273rem, 65rem);
        margin: 0 auto;
        justify-items: center;

        .btn_work {
            grid-area: a;
        }

        .btn_hardskills {
            grid-area: b;
        }

        .btn_softskills {
            grid-area: c;
        }

        .btn_contact {
            grid-area: d;
        }
    }


}

@keyframes wave {

    0%,
    100% {
        border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }

    50% {
        border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
    }
}

@keyframes wave2 {

    0%,
    100% {
        border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
    }

    50% {
        border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }
}

@keyframes rotateText {
    0% {
        margin-top: -4em;
    }

    5% {
        margin-top: -3em;
    }

    20% {
        margin-top: -3em;
    }

    25% {
        margin-top: -2em;
    }

    40% {
        margin-top: -2em;
    }

    45% {
        margin-top: -1em;
    }

    60% {
        margin-top: -1em;
    }

    65% {
        margin-top: 0em;
    }

    99.99% {
        margin-top: 0em;
    }

    100% {
        margin-top: -4em;
    }
}

button {
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--font-color, var(--anti-bg-color));
    font-family: "Lunasima", sans-serif;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--anti-bg-color);
        color: var(--anti-font-color);
    }

    &:focus-visible {
        box-shadow: var(--bg-color) 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
        transition: box-shadow .2s;
    }

    &:active {
        background-color: #F7F7F7;
        border-color: #000000;
        transform: scale(.96);
    }

    &:disabled {
        border-color: #DDDDDD;
        color: #888;
        cursor: not-allowed;
        opacity: 1;
    }
}


.panel {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color, var(--color-lightmode));
    display: flex;
    flex-direction: column;
    transition: all .3s linear;

    .content {
        flex-grow: 1;
    }

    &.contact {
        top: 100%;

        &.active {
            top: 0;
        }
    }

    &.work {
        top: -100%;

        &.active {
            top: 0;
        }
    }

    &.hardskills {
        left: -100%;

        &.active {
            left: 0;
        }
    }

    &.softskills {
        left: 100%;

        &.active {
            left: 0;
        }
    }
}

footer {
    text-align: center;
    padding: 0.2rem 0;
}