*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
.list-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .5rem;
    text-decoration-color: #1bdbbe;
}
.list__location{
    font-size: .8rem;
    font-weight: bold;
    color:#aaa;
    font-style: italic;
}
.profile,main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
main{
    padding-right: 150px;
}
.profile span{
    display: block;
    padding-bottom: 1rem;
}
.infos-email{
    color: #1bdbbe;
}
.links{
    height: 10%;
    width: 100%;
    padding :15px 0;
}
.links-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.links-list__element{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes flush{
    0%{box-shadow: 0 0 0 #000;}
    50%{box-shadow: 0 0 20px #000;}
    100%{box-shadow: 0 0 0 #000;}
}
.links-list__element img:hover{
    animation : flush 3s infinite;
    border-radius: 50%;
}
.links-list__element:nth-child(2){
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.links-logo{
    max-width: 25px;
    max-height: 25px;
}
.profile{
    width: 25%;
    position: relative;
    text-align: right;
    padding-top: 150px;
    background: rgb(255,40,40);
    background: linear-gradient(90deg, rgba(255,40,40,1) 0%, rgba(255,255,255,1) 50%); 
}
.header-nom{
    font-weight: bold;
}
.header-nom:hover{
    animation: shake 750ms 2;
}
@keyframes shake{
    0%{transform: translateX(0);}
    25%{transform: translateX(10px);}
    50%{transform: translateX(-10px);}
    75%{transform: translateX(10px);}
    100%{transform: translateX(0);}
}
.header-img{
    width: 125px;
    position: absolute;
    top: 0;
    right:-20px;
    transition: all 2s ease-in-out;
}
.header-img:hover{
    rotate: y 360deg;
}
.list-CV{
    padding: 20px;
}
.list-element{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 10px 10px 5px #ccc;
    margin-bottom: 25px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
.list-element:nth-child(even){
    text-align: right;
    padding-left: 50px;
}
.list-element:nth-child(even) p{
    text-align: right;
}
.list__date-start,.list__date-end,.list__desc{
    text-decoration: underline;
}
.list-event__title{
    margin-bottom: 3px;
}
.list__detail{
    padding-left: 15px;
    font-size: .8rem;
    font-weight: 300;
    margin: 4px 0;
    text-align: justify;
}
.list-event--skillz{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-event__title--skillz{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-event__progress{
    background-color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    height: 100%;
    position: relative;
    text-align: right;
}
.list-event__progress--colored{
    position: absolute;
    height: 100%;
    background-color: #1bdbbe;
}
.ENG{
    width: 80%;
}
.HTML{
    width: 60%;
}
.JS{
    width: 20%;
}
.SQL{
    width: 80%;
}
.event__skillz{
    color: white;
}
@media screen and (max-width:768px){
    html,body{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .profile{
        width: 100%;
        height: 10rem;
        padding: 10px;
        flex-direction: row;
        justify-content: space-between;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .profile span{
        padding-bottom: 0;
    }
    .header-img{
        position: relative;
        right: 0;
    }
    .header-infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .links{
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        width: 100%;
    }
    .links-list{
        width: 75%;
        margin: auto;
    }
    .list-event__title--skillz{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .list-event__progress{
        background-color: #ccc;
        margin-left: 10px;
        margin-right: 10px;
        width: 50%;
        height: 100%;
        position: relative;
        text-align: right;
    }
}
@media screen and (min-width:1000px){
    .profile{
        padding-right: 5px;
    }
}
@media screen and (max-width:1280px){
    main{
        padding-right: 0;
    }
}