*{
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
.list-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: .5rem;
    text-decoration-color: #1bdbbe;
}
.list__location{
    font-size: .8rem;
    font-weight: bold;
    color:#aaa;
    font-style: italic;
}
.profile,main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
main{
    padding-right: 150px;
}
.profile span{
    display: block;
    padding-bottom: 1rem;
}
.infos-email{
    color: #1bdbbe;
}
.links{
    height: 10%;
    width: 100%;
    padding :15px 0;
}
.links-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.links-list__element{
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-list__element:nth-child(2){
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.links-logo{
    max-width: 25px;
    max-height: 25px;
}
.profile{
    width: 25%;
    border-right: 1px solid #aaa;
    position: relative;
    text-align: right;
    padding-top: 150px;
}
.header-nom{
    font-weight: bold;
}
.header-img{
    width: 125px;
    position: absolute;
    top: 0;
    right:-20px;
}
.list-CV{
    padding: 20px;
}
.list-element{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 10px 10px 5px #ccc;
    margin-bottom: 25px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list__date-start,.list__date-end,.list__desc{
    text-decoration: underline;
}
.list-event__title{
    margin-bottom: 3px;
}
.list__detail{
    padding-left: 15px;
    padding-right: 15px;
    font-size: .8rem;
    font-weight: 300;
    margin: 4px 0;
    text-align: justify;
}
.list-event--skillz{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-event__title--skillz{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-event__progress{
    background-color: #ccc;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    height: 100%;
    position: relative;
    text-align: right;
}
.list-event__progress--coloredENG{
    position: absolute;
    height: 100%;
    width: 75%;
    background-color: #1bdbbe;
}
.list-event__progress--coloredHTML{
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: #1bdbbe;
}
.list-event__progress--coloredJS{
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: #1bdbbe;
}
.list-event__progress--coloredSQL{
    position: absolute;
    height: 100%;
    width: 75%;
    background-color: #1bdbbe;
}
.event__skillz{
    color: white;
}
@media screen and (max-width:768px){
    html,body{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .profile{
        width: 100%;
        height: 10rem;
        padding: 10px;
        flex-direction: row;
        justify-content: space-between;
    }
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .profile span{
        padding-bottom: 0;
    }
    .header-img{
        position: relative;
        right: 0;
    }
    .header-infos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .links{
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        width: 100%;
    }
    .links-list{
        width: 75%;
        margin: auto;
    }
    .list-event__title--skillz{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .list-event__progress{
        background-color: #ccc;
        margin-left: 10px;
        margin-right: 10px;
        width: 50%;
        height: 100%;
        position: relative;
        text-align: right;
    }
}
@media screen and (min-width:1000px){
    .profile{
        padding-right: 5px;
    }
}
@media screen and (max-width:1280px){
    main{
        padding-right: 0;
    }
}